# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist
.eslintcache
coverage

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.test

# Serverless directories
.serverless

# IDE Config files
.vscode
.tool-versions

auto-imports.d.ts
components.d.ts

# Local utils
/local
